<mat-card>
    <mat-card-content class="card-container">
        <h3 class="col-4"> Demo hospital</h3>
        <h3 class="col-4"> Branch: Main Branch</h3>
        <h3 class="col-4"> Room: Adminstration</h3>
    </mat-card-content>
   
  </mat-card >
  <br>
  <div class="displaycards" style="display: flex;">
  <mat-card routerLink="/patientregistry" routerLinkActive="active" ariaCurrentWhenActive="page" class="example-card">
    
    <mat-card-header>
      <mat-card-title-group>
        <mat-icon mat-card-avatar class="icon">folder</mat-icon>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <a >Patient Registry</a>
    </mat-card-content>
  </mat-card>
<br>
  <mat-card style="flex: 1 1 auto;" class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-icon mat-card-avatar class="icon">healing</mat-icon>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Triage
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-icon mat-card-avatar class="icon">person</mat-icon>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Doctor
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-icon mat-card-avatar class="icon">bed</mat-icon>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Inpatient
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-icon mat-card-avatar class="icon">today</mat-icon>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Appointment
    </mat-card-content>
  </mat-card>
  </div>
<br>
  <div class="displaycards" style="display: flex;">
    <mat-card style="flex: 1 1 auto;" class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-icon mat-card-avatar class="icon"><span class="material-icons">local_pharmacy</span></mat-icon>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        pharmacy
      </mat-card-content>
    </mat-card>
  <br>
    <mat-card style="flex: 1 1 auto;" class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-icon mat-card-avatar class="icon">science</mat-icon>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        laboratory
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-icon mat-card-avatar class="icon">money</mat-icon>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        over the counter
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-icon mat-card-avatar class="icon"><span class="material-icons">monetization_on</span></mat-icon>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Customer bills
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-icon mat-card-avatar class="icon">receipt</mat-icon>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Customer Invoices
      </mat-card-content>
    </mat-card>
    </div>
<br>
    <div class="displaycards" style="display: flex;">
        <mat-card style="flex: 1 1 auto;" class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-icon mat-card-avatar class="icon">assignments</mat-icon>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            Inventory
          </mat-card-content>
        </mat-card>
      <br>
        <mat-card style="flex: 1 1 auto;" class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-icon mat-card-avatar class="icon">report</mat-icon>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            Reports
          </mat-card-content>
        </mat-card>
    </div>

    <br>
<div  style="display: flex;">
    <mat-card class="card-appointment ">
        <mat-card-title >
           <p>My Appointments</p>
        </mat-card-title>

        <mat-card-content style="background-color: #E0FFE0;" >
            <p>None Today</p>
         </mat-card-content>
       
      </mat-card>
      <mat-card class="card-todo " style="  margin-left: 50px;">
        <mat-card-title >
           <p>To do list</p>
        </mat-card-title>

        <mat-card-content  >
            <p>1. Click here to add item</p>
         </mat-card-content>
       
      </mat-card>
    </div>


 